.emptyList {
  height: 15.25rem;
  width: 46rem;
  border-radius: 8px;
  border-top: solid 1px var(--gray-400);
  margin-top: 0;
  padding: 4rem 1.5rem;
  line-height: 140%;
  color: var(--gray-300);
}

.emptyList p {
  margin-bottom: 1rem;
}