
div .addTaskInput {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 3.25rem;
  margin-top: -1.625rem;
  z-index: 5; 
}

.addTaskInput input {
  width: 39.875rem;
  padding: 16px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-500);
  outline: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-300);
}

.addTaskInput input:focus{
  outline: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.addTaskInput a {
  width: 5.625rem;
  background: var(--blue-dark);
  border-radius: 8px;
  color: var(--gray-100);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  font-size: 0.875rem;
  line-height: 1.9;

  transition: background-color 0.2s;
}

.addTaskInput a:hover {
  background-color: var(--blue);
}